.nav-bar
{
    position: fixed;
    list-style: none;
    display: flex;
    width: 100%;;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }